@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');




@import 'blocks/main';
@import 'blocks/todoCard';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #9caeb681;
    height: 100vh;
}

.show {
    display: block;
}
